@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');



body{
  font-family: 'Inter', sans-serif;

}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-animation {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.ease-in-text {
  animation: fadeIn 1s ease-in-out;
}

.ease-in-button {
  animation: fadeIn 1s ease-in-out;
}

@media screen and (max-width: 640px) {
  .mt-mobile {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .max-container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 20px;
  z-index: 999;
  font-size: 12px;
  line-height: 1.4;
}

.popup.show {
  display: block;
}

.popup-content {
  position: relative;
}

.close {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transform: translateY(-50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

 {/*.input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }*/}
  
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}